body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    font-family: "Microsoft Yahei",sans-serif;
   // font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
// ::-webkit-scrollbar  
// {  
//     width: 8px;  
//     height: 8px;  
//     background-color: #F5F5F5;  
//     cursor: pointer;
// }  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba( 0, 0,0,0);   
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb   
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}
.container_setion{
    background: #fff;
    border: 1px solid #d1dbe5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
    width: 100%;
    padding: 10px;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}


.hide{
    display: none;
}
.text-right{
    text-align: right
}
.text-center{
    text-align: center
}

.show{
    display: block;
}
.mgr10{
    margin-right: 10px;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toolbar {
    background: #f2f2f2;
    padding: 10px;
    margin: 10px 0px;
    .ivu-form-item {
        margin-bottom: 0;
    }
}
td{
    padding-top:5px;
    padding-bottom:5px;
}
.w100 {
    width: 100px !important;
}

.w120 {
    width: 120px !important;
}

.w140 {
    width: 140px !important;
}

.w160 {
    width: 160px !important;
}

.w180 {
    width: 180px !important;
}

.w200 {
    width: 200px !important;
}

.w220 {
    width: 220px !important;
}

.w240 {
    width: 240px !important;
}

.w260 {
    width: 260px !important;
}

.w280 {
    width: 280px !important;
}
.w300 {
    width: 300px !important;
}
.w400 {
    width: 400px !important;
}
.mgr5{
    margin-right:5px;
}
.mgr10{
    margin-right:10px;
}
.Blue{
    color:#20A0FF
}
.Success,.green{
    color:#13CE66
}
.Warning,.orange{
    color:#F7BA2A
}
.Danger,.red{
    color:#FF4949
}
.Silver,.gray{
    color:#8492A6
}
.grey{
    color:#999;
}
.tips{
     color:#F7BA2A;
     background: url('./assets/images/tips_info.png') no-repeat left top;
    padding-left: 18px;
    font-size:12px;
    line-height: 12px;
}

.ui-table{
     width: 100%;
    margin-bottom:10px;
    table {
        width:100%;
        border-collapse:collapse;border-spacing:0;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        tr:hover{
             background-color: #f9f9f9;
        }
        th,td {
            border-right: 1px solid #ddd;
            border-top: 1px solid #ddd;
            color: #333;
            line-height: 24px;
            padding:  5px 8px;
            word-break: break-all;
            word-wrap: break-word;
            vertical-align: middle;
        }
        .table_name{
            width: 120px;
            max-width: 150px;
            background-color: #f9f9f9;
            text-align: right;
            padding: 5px 10px 5px 5px;
            color: #666;
            text-indent: 0;
            vertical-align: middle;
        }
    }
}


// element全局样式改写
.el-dialog__footer{
        border-top: 1px solid #e9eaec;
}
.el-dialog__header{
    border-bottom: 1px solid #e9eaec;
    padding: 14px 16px;
    line-height: 1;
}
.el-dialog__body{
    padding: 20px 20px 10px 20px;
}
.el-form-item{
    margin-bottom: 0;
}
.el-table{
    font-size:12px;
}
.el-form-item__error{
    position: inherit;
}
//,.el-form-item__label,.el-form-item__content

